@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

body{
    margin: 0;
    font-family: 'Rubik', sans-serif;
    background-color: white;
    color: black;
}
img{
width: 90%;
height: 70%;
object-fit: contain;
background-color: aliceblue;
display: flex;
margin: auto;
justify-content: center;
}

